In [22]:
import pandas as pd 
from pathlib import Path

In [105]:
file_path = Path('C:/Users/georgesmith1.000/Downloads/CU-NYC-FIN-PT-08-2019-U-C-master/02-Homework/02-Python/Instructions/PyBank/Resources/budget_data.csv')
pybank_csv = pd.read_csv (file_path)
pybank_csv.sample(5)

        Date  Profit/Losses
15  Apr-2011         793163
23  Dec-2011         309978
17  Jun-2011         584122
33  Oct-2012         779976
36  Jan-2013         359333

In [62]:
#total months 
pybank_csv['Date'].count()

86

In [63]:
# net total amount of profit/losses
pybank_csv['Profit/Losses'].sum()

38382578

In [127]:
# Applying an index to the file 
pybankindex_csv = pd.read_csv (file_path, index_col='Date')
avg_change = pybankindex_csv ['Profit/Losses']- pybankindex_csv ['Profit/Losses'].shift(1)
avg_change.head(5)

Date
Jan-2010         NaN
Feb-2010    116771.0
Mar-2010   -662642.0
Apr-2010   -391430.0
May-2010    379920.0
Name: Profit/Losses, dtype: float64

In [84]:
# The average of the changes in Profit/Losses over the entire period 
avg_change.mean()

-2315.1176470588234

In [109]:
#The greatest increase in profits ( date and amount ) over the entire period 
avg_change.max()

1926159.0

In [96]:
# The greatest decrease in losses (date and amount ) over the entire period 
avg_change.min()

-2196167.0

In [139]:
#print 

output= Path(Financial_Analysis.txt)
with open(output,'W') as textfile:

    textfile.write ("Financial Analysis")
    textfile.write("-------------------------")
    textfile.write('Total Months:', pybank_csv['Date'].count())
    textfile.write('Total: $',pybank_csv['Profit/Losses'].sum())
    textfile.write('Average Change: $',round(avg_change.mean(),2))
    textfile.write('Greatest Increase in Profits: Feb-2012 $',avg_change.max())
    textfile.write('Greatest Decrease in Profits: Sep-2013 $', avg_change.min() )

Financial Analysis
-------------------------
Total Months: 86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits: Feb-2012 $ 1926159.0
Greatest Decrease in Profits: Sep-2013 $ -2196167.0